*.gitkeep
timeworker/*.rbc
timeworker/*.sassc
timeworker/.sass-cache
timeworker/capybara-*.html
timeworker/.rspec
timeworker/.rvmrc
timeworker/.bundle
timeworker/vendor/bundle
timeworker/log/*
timeworker/tmp/*
timeworker/db/*.sqlite3
timeworker/public/system/*
timeworker/coverage/
timeworker/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
